@font-face {
    font-family: GameChangers;
    src: url("Replica-Bold.ttf");
  }

body {
    padding: 0;
    margin: 0;
    font-family: GameChangers, sans-serif;
    background-image: url("background-test.png");
    color: white;
}

.border {
    border: 3px, solid, red;
}

.scores-div {
    position: absolute;
    width: 80%;
    height: 200px;
    top: 650px;
    left: 10%;
    right: 10%;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
}

.match-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300;
    height: 100%;
}

.status {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}

.logos-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 190px;
}

.logo {
    max-width: 135px;
    max-height: 135px;
}

.vs {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.score {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}